<template name="footerHome">

  <div class="footer transparenteNav">
  	<div class="container">
    	<div class="row">
    		<div class="col-md-12">
    			<h3></h3>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			<div class="footer-copyright">&copy; 2017 CarChange. Todos os direitos reservados.</div>
    		</div>
    	</div>
    </div>
  </div>

</template>
