<template name="navbar">

<nav class="navbar navbar-inverse {{#if isInHome}}transparenteNav{{/if}}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand img-resize-brand" href="{{pathFor route='home'}}"><img alt="Brand" src="/img/logo.svg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{#if isInRole 'admin.cm,admin.super'}}
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='cadastroConsorcio'}}">Cadastrar Consórcios</a></li>
      </ul>
      {{/if}}
      {{#if isInRole 'admin.super'}}
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='admUserDash'}}">Administrar Permissões</a></li>
      </ul>
      {{/if}}
      {{#if isInRole 'user.viewer,user.client,user.vendor'}}
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='membros'}}">Área de Membros</a></li>
        <li><a href="{{pathFor route='consorcio'}}">Consórcio</a></li>
      </ul>
      {{/if}}
      {{#if currentUser}}
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right"><a href="{{pathFor route='loja'}}"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; Loja</a></li>
        <li role="separator" class="divider"></li>
        <li class="maisBaixo2"><p>Bem vindo, {{currentUser.profile.nome.primeiro}}!</p></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="logout">Logout</a></li>
      </ul>
      {{else}}
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='sobre'}}">Como Funciona</a></li>
        <li><a href="{{pathFor route='vantagens'}}">Vantagens</a></li>
        <li><a href="{{pathFor route='planos'}}">Planos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right"><a href="{{pathFor route='loja'}}"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; Loja</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{pathFor route='registrar'}}">Cadastre-se</a></li>
        <li><a href="{{pathFor route='login'}}">Entrar</a></li>
      </ul>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</template>
