<template name="navbarSite">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor route='home'}}"><img alt="Brand" src="/img/g12.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{#if isInRole 'admin'}}
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='cadastroConsorcio'}}">Área do Adminho</a></li>
      </ul>
      {{/if}}
      {{#if isInRole 'user,admin'}}
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='membros'}}">Área de Membros</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a href="#" style="color:gray;"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; Loja (em breve)</a>
        <li role="separator" class="divider"></li>
        <li class="maisBaixo2"><p>Bem vindo, {{currentUser.profile.nome.primeiro}}!</p></li>
        <li><a href="#" class="logout">Logout</a></li>
      </ul>
      {{else}}
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='sobre'}}">Como Funciona</a></li>
        <li><a href="{{pathFor route='vantagens'}}">Vantagens</a></li>
        <li><a href="{{pathFor route='planos'}}">Planos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right"><a href="#" style="color:gray;"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; Loja (em breve)</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{pathFor route='registrar'}}">Cadastre-se</a></li>
        <li><a href="{{pathFor route='login'}}">Entrar</a></li>
      </ul>
      {{/if}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</template>
