<template name="cadcarro">

      <form class="form-cadcarro">
        <h4>Marca</h4>
        <input type="text" name="marca" class="pretoText" required>
        <p>&nbsp;</p>
        <h4>Modelo</h4>
        <input type="text" name="modelo" class="pretoText" required>
        <p>&nbsp;</p>
        <h4>Valor</h4>
        <input type="number" name="valor" step="0.01" min="0" class="pretoText">
        <p>&nbsp;</p>
        <h4>Categoria</h4>
        <p><input type="radio" name="categoria" value="integral" checked> Integral &nbsp;&nbsp;&nbsp;
        <input type="radio" name="categoria" value="75%"> 75%</p><br>&nbsp;
        <input type="submit" value="Enviar carro" class="pretoText">
      </form>

</template>
