<template name="navbarHome">

<div class="mainmenu-wrapper transparenteNav visible-lg visible-md">
  <div class="container">
    <nav id="mainmenu" class="mainmenu">
  					<ul>
  						<li class="logo-wrapper">
                <a href="{{pathFor route='home'}}">
                  <img src="img/g12.png" class="img-resize" alt="Multipurpose Twitter Bootstrap Template">
                </a>
              </li>
  						<li>
  							<a href="{{pathFor route='sobre'}}">Como Funciona</a>
  						</li>
  						<li>
  							<a href="{{pathFor route='vantagens'}}">Vantagens</a>
  						</li>
              <li>
							<a href="{{pathFor route='planos'}}">Planos</a>
  						</li>
              <li class="navbar-right menuextras">
                  <a href="{{pathFor route='login'}}">Entrar</a>
              </li>
              <li class="navbar-right menuextras">
                  <a href="{{pathFor route='registrar'}}">Cadastre-se</a>
              </li>
              <li class="shopping-cart-items navbar-right menuextras">
                  <a href="{{pathFor route='loja'}}"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; <b>Loja</b></a>
              </li>
            </ul>
			</nav>
	</div>
</div>

</template>
