<template name="navbarHome">

<div class="mainmenu-wrapper transparenteNav visible-lg visible-md">
  <div class="container">
    <nav id="mainmenu" class="mainmenu">
  					<ul>
  						<li class="logo-wrapper">
                <a href="index.html">
                  <img src="img/g12.png" class="img-resize" alt="CarChange Clube Automotivo">
                </a>
              </li>
  						<li>
  							<a href="index.html">Como Funciona</a>
  						</li>
  						<li>
  							<a href="features.html">Vantagens</a>
  						</li>
              <li>
							<a href="credits.html">Planos</a>
  						</li>
              <li class="navbar-right menuextras">
                  <a href="page-login.html">Entrar</a>
              </li>
              <li class="navbar-right menuextras">
                  <a href="page-register.html">Cadastre-se</a>
              </li>
              <li class="shopping-cart-items navbar-right menuextras">
                  <a href="page-shopping-cart.html"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; <b>Loja</b></a>
              </li>
            </ul>
			</nav>
	</div>
</div>

</template>
