<template name="navbarHome">

<div class="mainmenu-wrapper transparenteNav visible-lg visible-md">
  <div class="container">
    <nav id="mainmenu" class="mainmenu">
  					<ul>
  						<li class="logo-wrapper">
                <a href="{{pathFor route='home'}}">
                  <img src="img/g12.png" class="img-resize" alt="CarChange Clube Automotivo">
                </a>
              </li>
  						<li>
  							<a href="{{pathFor route='sobre'}}">Como Funciona</a>
  						</li>
  						<li>
  							<a href="{{pathFor route='vantagens'}}">Vantagens</a>
  						</li>
              <li>
							<a href="{{pathFor route='planos'}}">Planos</a>
  						</li>
              <li class="navbar-right menuextras">
                  <a href="{{pathFor route='login'}}">Entrar</a>
              </li>
              <li class="navbar-right menuextras">
                  <a href="{{pathFor route='registrar'}}">Cadastre-se</a>
              </li>
              <li class="shopping-cart-items navbar-right menuextras">
                  <a href="{{pathFor route='loja'}}"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; <b>Loja</b></a>
              </li>
            </ul>
			</nav>
	</div>
</div>

<nav class="navbar navbar-inverse transparenteNav hidden-lg hidden-md">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor route='home'}}"><img alt="Brand" src="/img/g12.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor route='sobre'}}">Como Funciona <span class="sr-only">(current)</span></a></li>
        <li><a href="{{pathFor route='vantagens'}}">Vantagens</a></li>
        <li><a href="{{pathFor route='planos'}}">Planos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li role="separator" class="divider"></li>
            <li><a href="{{pathFor route='loja'}}"><i class="glyphicon glyphicon-shopping-cart icon-white"></i>&nbsp; <b>Loja</b></a></li>
            <li><a href="{{pathFor route='registrar'}}">Cadastre-se</a></li>
            <li><a href="{{pathFor route='login'}}">Entrar</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</template>
