<template name="userShow">
  {{#if userIsNotSA}}
  <li>
    <form class="form-roles">
      <span>Nome: {{user.profile.nome.primeiro}} {{user.profile.nome.ultimo}}</span><br>
      <span>Email: {{email}}</span><br>
      <select id= "dropdownRoles" class="dropdownRoles pretoText" name="dropdownRoles" form="form-roles">
        {{#each roles}}
          {{> role}}
        {{/each}}
      </select>
    </form>
  </li>
  {{/if}}
</template>



<template name="role">
  {{#if roleIsNotSA}}
    {{#if userIsInRole ..}}
      <option selected class="pretoText" value="{{role.name}}">{{role.name}}</option>
    {{else}}
      <option class="pretoText" value="{{role.name}}">{{role.name}}</option>
    {{/if}}
  {{/if}}
</template>
