<template name="produto">

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <!-- Product -->
        <div class="shop-item">
          <!-- Product Image -->
          <p>&nbsp;</p>
          <h2 class="pretoText">Parafuso anti-furto</h2>
          <!-- inserir um #if/else aqui para mostrar apenas para associados -->

          <!-- mensagem prospecção
          <p>Desculpe, apenas associados CarChange têm acesso aos produtos.<a href="#"><em>Associe-se já</em></a></p>
          -->

          <!-- mensagem para associado -->
          <p class="lead"><a class="btn btn-lg btn-info" href="{{pathFor route='consorcio'}}">
            COMPRAR</a></p>

          <!-- Product Description-->
          <div class="description">
            <p>Parafuso supereficiente que proporciona maior segurança para seu veículo.</p>
          </div>

        </div>
        <!-- End Product -->
      </div>

    </div>
  </div>
</div>

</template>
