@theme-color: #4F8DB3; //Blue Color Scheme
//@theme-color: #7f8c8d; //Grey Color Scheme
//@theme-color: #e74c3c; //Red Color Scheme
//@theme-color: #16a085; //Green Color Scheme
//@theme-color: #e67e22; //Orange Color Scheme
@light-theme-color: lighten(@theme-color, 20%);

// Font color
@font-color: #ffffff;

// Headings color
@heading-color: #ffffff;

// Page background
// -------------------------
@body-background: ~"url(../img/fundo.jpg)";

// Typography
// -------------------------
@sansFontFamily: 'Open Sans', sans-serif;
